################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################


*.suo
*.user
*.sdf
bin/
obj/
Debug/
Release/
*.opensdf

/.vs/WPFSamples/v14
/.vs/WPFSamples/v14
